extends layout

block content
  h1 Create gallery Form -- user: #{user.username}
  form(method="post", enctype="multipart\/form-data", action="/gallery/create")
    input(type="hidden", name="userId", value="#{user._id}")
    p Title:
        input(type="text", name="title")
    p Description    
        textarea(rows="10", name="description")
    p Add Images:
        input(type="file", name="upload", multiple)
    p
        input(type="submit", value="Upload")