<html>
<head>
<title>Session Management in NodeJS using Express4.2</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
				fname=$("#firstname").val();
				lname=$("#lastname").val();
        //pass=$("#password").val();
        /*
        * Perform some validation here.
        */
       // $.post("http://localhost:8080/login",{email:email,pass:pass},function(data)
				 $.post("/users",{first_name:fname,last_name:lname, email:email},function(data){        
            if(data)           
            {
							window.location.href="/users"; //was admin
            }
        });
    });
});
</script>

<link rel="stylesheet" href="/css/foundation.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="name" class="row">
		<!-- test zurb foundation form -->
		<form>
		  <fieldset>
		    <legend>Register</legend>
		    <label>First Name</label>
		    <input type="text" id="firstname" placeholder="Enter first name here" />
		    <label>Last Name</label>
		    <input type="text" id="lastname" placeholder="Enter last name here" />
		    <label>Email</label>
		    <input type="text" id="email" placeholder="Enter email here" />
		    <a href="#" class="button radius" value="submit" id="submit">Sign up</a>
		  </fieldset>
		</form>
	</div>
</body>
</html>